@font-face {
  font-family: "Brittany";
  src: url("../public/fonts/BrittanySignature.woff2") format("woff2"),
    url("../public/fonts/BrittanySignature.woff") format("woff");
  font-style: normal;
}

.bg-textbox {
  width: 400px;
  height: 380px;
  background-color: #f5f9fa;
  position: center;
  border-radius: 20px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
